.content {
    width: 60%;
    margin: auto;

    img {
        width: auto;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: .6rem;
        max-height: 500px;
    }

    code {
        display: inline-block;
        padding: 1px .3em;
        font-family: monospace;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 4px;
    }

    a {
        color: var(--accent-color);
        text-decoration: none;
    }
}

@media (max-width: 800px) {
    .content {
        width: 100%;
    }
}