.project {
    padding: 8rem 0 8rem;
    box-sizing: border-box;
    
    display: flex;
    gap: 2em;

    .infoContainer {
        flex-grow: 1;

        .title {
            font-size: 1.8rem;
            display: block;
        }

        .desc {
            display: block;
            padding: 1em 0 2em;
        }

        .buttonsContainer {
            display: flex;
            gap: 0.5em;
        }
    }

    .imageContainer {
        width: 50%;
        aspect-ratio: 16/9;
        flex-shrink: 0;

        display: flex;
        align-items: center;
        justify-content: center;

        .img {
            object-fit: contain;
            max-width: 100%;
            max-height: 100%;
            border-radius: .5em;
            overflow: clip;
        }
    }
}