$background-color: hsl(242, 15%, 15%);

.technologies {
    background-color: $background-color;
    padding: 4rem 0;

    .technologiesContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
}

@media (max-width: 1200px) {
    .technologies .technologiesContainer {
        grid-template-columns: 1fr;
    }
}