:root {
    --accent-color: hsl(242, 78%, 60%);
    --accent-as-filter: brightness(0) saturate(100%) invert(43%) sepia(65%) saturate(7468%) hue-rotate(236deg) brightness(92%) contrast(99%);
    --button-drop: hsl(242, 60%, 50%);
    --background: hsl(242, 15%, 6%);
    --text: hsla(0, 0%, 100%, 0.87);
    --faded-text: hsla(0, 0%, 100%, 0.7);
    --border-1: hsla(0, 0%, 100%, 0.2);

    font-family: -apple-system, BlinkMacSystemFont, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--text);
    background-color: var(--background);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    overflow-y: auto;
}

* {
    font-family: inherit;
}

.button {
    transition: box-shadow 150ms ease, background-color 150ms ease;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.2);
}

.button:hover {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
    background-color: rgba(255, 255, 255, 0.05);
}

@media (max-width: 600px) {
    :root {
        font-size: 14px;
    }
}