.card {
    display: flex;
    gap: .8rem;
    align-items: center;
    
    border: 1px solid var(--border-1);
    border-radius: 8px;
    padding: 4px;

    .image {
        width: 52px;
        aspect-ratio: 1;
        object-fit: cover;
        border-radius: 4px;
    }

    .infoContainer {
        display: flex;
        flex-direction: column;
        gap: 0.2em;

        .name {
            font-weight: 600;
            line-height: 1;
        }

        .description {
            font-weight: 400;
            line-height: 1;
        }
    }
}