.card {
    display: flex;
    gap: 1.5em;
    align-items: center;
    
    border: 1px solid var(--border-1);
    border-radius: 1.3em;
    padding: 1em;

    font-size: 0.9rem;

    .image {
        width: 72px;
        aspect-ratio: 1;
        object-fit: contain;
        border-radius: 4px;
        flex-shrink: 0;
    }

    .infoContainer {
        display: flex;
        flex-direction: column;
        gap: 0.3em;
        height: min-content;
        line-height: 1.1;

        .name {
            font-weight: 600;
            font-size: 1.3em;
        }

        .description {
            font-weight: 400;
        }
    }
}

@media (max-width: 1200px) {
    .card .image {
        width: 36px;
    }
}