<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Markdown Viewer</title>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="navbar-container"></div>

    <div id="content">
        <div id="hero">
            <div id="hero-content">
                <span id="article-title"></span>
                <span id="article-date"></span>
                <img alt="imagine a stunning image here" id="hero-img">
            </div>
        </div>
        <div id="markdown-container"></div>
    </div>
    <div id="error">
        <div id="error-content-container">
            <span id="error-glyph">🔥</span> <!-- can be an img in the future -->
            <span id="error-title">Ruh-roh!</span>
            <span id="error-details"></span>
        </div>
    </div>

    <script src="/main.js"></script>
    <script>
        const params = new URLSearchParams(window.location.search);
        const path = params.get('p');

        (async () => {
            try {
                const response = await fetch(`/assets/${path}.md`);
                if (!response.ok) {
                    throw new Error(`Failed to fetch markdown: ${response.status} ${response.statusText}`);
                }
                const res = await response.text();

                const metaNameMatch = res.match(/<meta_name>(.*?)<\/meta_name>/);
                const metaDateMatch = res.match(/<meta_date>(.*?)<\/meta_date>/);
                let metaName = metaNameMatch ? metaNameMatch[1] : '';
                let metaDate = metaDateMatch ? metaDateMatch[1] : '';
                
                let content = res.replace(/<meta_name>.*?<\/meta_name>/, '').replace(/<meta_date>.*?<\/meta_date>/, '');
                
                document.getElementById('article-title').innerHTML = metaName;
                document.getElementById('article-date').innerHTML = metaDate;
                document.getElementById('hero-img').src = `/assets/${path}.png`
                document.getElementById('markdown-container').innerHTML = marked.parse(content);
            } catch (e) {
                document.getElementById('error').style.display = 'flex';
                document.getElementById('content').style.display = 'none';

                document.getElementById('error-details').innerHTML = e.toString().replace('Error: ', '');
            }
        })();
    </script>
</body>

</html>